.TodoInsert {
    display: flex;
    background: white;
    input{
        background: none;
        outline: none;
        border: none;
        padding: 0.5rem;
        font-size: 1.125rem;
        line-height: 1.5;
        color: #70a9ff;
        &::placeholder {
            color: #c7deff;
        }
        flex: 1;
    }
    button {
        background: none;
        outline: none;
        border: none;
        background: #70a9ff;
        color: white;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.1s background ease-in;
        &:hover{
            background: #eabbff;
        }
    }
}