* {
    margin: 0;
    padding: 0;
    
}

body {
    height: 100vh;
    width: auto;
    background-image: url('image/10411.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1 {
    padding-top: 50%;
    text-align: center;
    color: cadetblue;
}

.canvas {
    background-color: teal;
}